.Text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
.TitleMain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 48pt;
	font-weight: bold;
}
.MinHeight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1px;
}
